# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET
ScaffoldingReadMe.txt

# Windows
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# dotnet
*.DotSettings.user
BenchmarkDotNet.Artifacts/

# JetBrains Rider
.idea/
*.sln.iml

# OS files
.DS_Store
